[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
providers = ["python"]

[build.nixpacksPlan.phases.setup]
nixPkgs = ["python311"]

[build.nixpacksPlan.phases.install]
cmds = ["python -m venv /app/.venv", "pip install -r requirements.txt"]

[build.nixpacksPlan.phases.build]
cmds = []

[deploy]
startCommand = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
